# Celery and worker dependencies
celery==5.4.0
redis==5.2.0

# Core dependencies
sqlalchemy==2.0.36
asyncpg==0.30.0
greenlet==3.1.1
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
passlib[argon2,bcrypt]==1.7.4
pydantic==2.10.6
pydantic-settings==2.3.4
pydantic-extra-types==2.10.0
structlog==24.4.0
python-json-logger==2.0.7
python-dateutil==2.9.0
pytz==2024.2
boto3==1.35.9
minio==7.2.7
httpx==0.27.2
email-validator==2.2.0
typing-extensions==4.12.2